<ion-view title="Host" hide-nav-bar="false">

  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="back()">
      Back
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="done()">
      Done
    </button>
  </ion-nav-buttons>

  <ion-content class="padding backing-red"  style="text-align: center;">

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Host's name (e.g. Arun)">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Name of playlist (e.g. Arun's awesome playlist)">
      </label>
    </div>

  </ion-content>
</ion-view>
