<ion-view title="Confirm" hide-nav-bar="false">
  <ion-content class="padding backing"  style="text-align: center;">

    <h2 class="text">Arun's Awesome Playlist</h2>
    <p class="text"> by Arun</p>

    <div id="player"></div>
    
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'M7lc1UVf-VE'
        });
      }
     </script>

  </ion-content>
</ion-view>
