<ion-view title="welcome" hide-nav-bar="false">

  <ion-content class="backing-teal" style="text-align: center;">

    <h1 style="margin-top: 30px; color: white"> Who's the Pied Piper? </h1>

    <button style="width: 90%; margin-top: 10px" class="button button-outline button-stable padding" ng-click="host()">
      I am the Pied Piper (host a playlist)
    </button>

    <button style="margin-top: 10px; width: 90%" class="button button-outline button-stable padding" ng-click="join()">
      I have a Pied Piper (join a playlist)
    </button>

  </ion-content>
</ion-view>
