
/*--------------------------general modal styles--------------------------*/
.modalCont{
	position: fixed;
	top: 0; left: 0; height: 100%; width: 100%;
	z-index: 10;
	overflow: auto;
}
.bgItem{
	position: fixed;
	top: 0; left: 0; height: 100%; width: 100%;
	z-index: 9;
	background-color: #111111;
	opacity: 0.75;
}

a.disabledButton{
	cursor: default!important;
	color: #DEDEDE!important;
	background-color: #FAFAFA!important;
}






/*--------------------------history modal--------------------------*/
#historyModal.modalCont>div{
	position: relative;
	height: 480px;
	width: 504px;
	margin: 0 auto;
	margin-top: 60px;
	background-color: #FAFAFA;
	border-radius: 3px;
	box-shadow: 0px 3px 18px -6px black;
	padding: 18px;
	margin-bottom: 60px;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


#historyModal>div>a{
	position: absolute;
	top: 12px; right: 12px;
	color: red;
	font-size: 11px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#historyModal>div>p{
	font-size: 15px;
	color: #595959;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#historyModal>div>p>span{
	font-size: 10px;
	color: #BABABA;
	cursor: pointer;
}

#historyModal>div>ul{
	height: 408px;
	margin-top: 12px;
	overflow: hidden;
	overflow-y: scroll;
}
#historyModal>div>ul>a{
	display: block;
	height: 48px;
	line-height: 24px;
	padding-top: 6px; padding-bottom: 6px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 18px;
	text-decoration: none;
	color: #424242;
}
#historyModal>div>ul>a>span{
	font-size: 13px;
	color: #787878;
}




/*--------------------------text input modal generals--------------------------*/
p.redText{
	color: #8A523A!important;
}
input.redText{
	border: 1px solid #8A523A!important;
}

.textInputModal{
	position: relative;
	height: auto;
	width: 408px;
	margin: 0 auto;
	margin-top: 60px;
	background-color: #FAFAFA;
	border-radius: 3px;
	box-shadow: 0px 3px 24px -6px black;
	padding: 18px;
	padding-bottom: 9px;
	margin-bottom: 60px;
	overflow: hidden;

	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.textInputModal>p{
	font-size: 22px;
	color: #565656;
	max-width: 100%;
	margin-bottom: 6px;
	line-height: 30px;
}
.textInputModal>input{
	height: 36px;
	width: 94%;
	outline: none;
	padding-left: 4%;
	margin-top: 12px;
	margin-bottom: 18px;
	border: 1px solid #F2F2ED;
	background-color: #EBEBEB;
	border-radius: 1px;
	font-size: 18px;
	-webkit-transition: border .6s, background-color .6s;
	   -moz-transition: border .6s, background-color .6s;
	    -ms-transition: border .6s, background-color .6s;
	     -o-transition: border .6s, background-color .6s;
	        transition: border .6s, background-color .6s;
}
.textInputModal>input:focus{
	background-color: #FAFAF7;
	border: 1px solid #778520;
}
.textInputModal>a{
	display: block;
	float: left;
	cursor: pointer;
	height: 34px; line-height: 34px;
	width: 70px;
	text-align: center;
	border: 1px solid #F2F2ED;
	font-size: 11px;list-style-type: circle;
	color: #888C6C;
	background-color: #F2F2ED;
	border-radius: 2px;

	margin-right: 12px; margin-bottom: 12px;


	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-transition: box-shadow .2s, background-color .2s, border .2s;
	   -moz-transition: box-shadow .2s, background-color .2s, border .2s;
	    -ms-transition: box-shadow .2s, background-color .2s, border .2s;
	     -o-transition: box-shadow .2s, background-color .2s, border .2s;
	        transition: box-shadow .2s, background-color .2s, border .2s;
}
.textInputModal>a:hover{
	background-color: #F7F7F7;
	box-shadow: 0px 1px 6px -3px #111111;
	color: #778520;
}
.textInputModal>a:active{
	color: #CCCCCC;
}

.textInputModal>span{
	cursor: pointer;
	padding: 3px;
	display: inline-block;
	height: 36px; line-height: 30px;
	font-size: 9px;
	margin-left: 6px;
	color: #787878;


	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: color .3s;
	   -moz-transition: color .3s;
	    -ms-transition: color .3s;
	     -o-transition: color .3s;
	        transition: color .3s;
}
.textInputModal>span:hover{
	color: #CCCCCC;
}



/*--------------------------choice modal generals--------------------------*/

.choiceModal{
	position: relative;
	height: auto;
	width: 408px;
	margin: 0 auto;
	margin-top: 60px;
	background-color: #FAFAFA;
	border-radius: 3px;
	box-shadow: 0px 3px 18px -6px black;
	padding: 18px;
	margin-bottom: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.choiceModal>p{
	font-size: 14px;
	margin-bottom: 24px;
	line-height: 24px;
	text-align: center;
}
.choiceModal>div:first-of-type{
	width: 136px;
	position: relative;
	margin: 0 auto;
	z-index: 5;
}
.choiceModal>div:last-of-type{
	position: absolute;
	height: 100%; width: 100%; top: 0; left: 0;
	z-index: 0;
	opacity: 0.12;
	border-radius: 3px;
	background-position: center;background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.choiceModal>div>a{
	display: block;
	float: left;
	cursor: pointer;
	height: 34px; line-height: 34px;
	width: 70px;
	text-align: center;

	font-size: 11px;list-style-type: circle;
	color: #111111;
	border: 1px solid #787878;
	background-color: #EBEBEB;
	border-radius: 2px;

	margin-right: 12px;

	-webkit-transition: box-shadow .3s, background-color .3s;
	   -moz-transition: box-shadow .3s, background-color .3s;
	    -ms-transition: box-shadow .3s, background-color .3s;
	     -o-transition: box-shadow .3s, background-color .3s;
	        transition: box-shadow .3s, background-color .3s;


	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.choiceModal>div>a:hover{
	background-color: #F7F7F7;
	box-shadow: 0px 1px 6px -3px #111111;
}
.choiceModal>div>a:active{
	color: #CCCCCC;
}

.choiceModal>div>span{
	cursor: pointer;
	padding: 3px;
	display: inline-block;
	height: 36px; line-height: 30px;
	font-size: 10px;
	color: #787878;

	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



/*--------------------------for the share playlist modal on playlist routes--------------------------*/
#sharePlaylist>img{
	display: block;
	position: relative;
	margin: 0 auto;
	margin-bottom: 24px;
}