#navs{
	position: relative;
	width: 100%; height: 72px;
	min-width: 800px;
	background-color: #232924;
	box-shadow: 0px 1px 6px -3px #1A1919;
	z-index: 5;
}

#navs>div{
	width: 800px;
	position: relative;
	margin: 0 auto; height: 72px;
}
#navs>div>a:first-child{
	width: 72px;
	height: 72px;
	display: block;
	float: left;
	background-image: url('/images/logo.jpg');
	background-size: 102%;
	background-repeat: no-repeat;
	background-position: center;
}
#navs>div>ul{
	display: block;
	width: 375px;
	float: right;
	height: 72px;
}
#navs>div>ul>li{
	width: 125px;
	height: 72px;
	float: right;
	text-align: center;line-height: 72px;
	cursor: pointer;
	color: #A6C75F;
	font-size: 13px;

  -webkit-transition: color .2s, text-shadow .2s;
     -moz-transition: color .2s, text-shadow .2s;
      -ms-transition: color .2s, text-shadow .2s;
       -o-transition: color .2s, text-shadow .2s;
          transition: color .2s, text-shadow .2s;
}
#navs>div>ul>li>a{
	display: block;
	height: 100%;
	width: 100%;
	color: #A6C75F;
	text-decoration: none;

  -webkit-transition: color .2s, text-shadow .2s;
     -moz-transition: color .2s, text-shadow .2s;
      -ms-transition: color .2s, text-shadow .2s;
       -o-transition: color .2s, text-shadow .2s;
          transition: color .2s, text-shadow .2s;
}
#navs>div>ul>li>a:hover, #navs>div>ul>li:hover{
	text-shadow: 0px 1px 3px black;
	color: #D3F095;
}
#navs>div>ul>li>a:active, #navs>div>ul>li:active{
	outline: 1px dotted #EDF1F2;
}