
/*--------------------------the desktop navigation bar--------------------------*/
#navs{
	position: relative;
	width: 100%; height: 72px;
	min-width: 800px;
	background-color: #161717;
	box-shadow: 0px 6px 9px -9px black;
	z-index: 5;
}

#navs>div{
	width: 800px;
	position: relative;
	margin: 0 auto; height: 72px;
}
#navs>div>a:first-child{
	width: 42px; height: 42px;
	margin-top: 15px;
	display: block;
	float: left;
	background-image: url('https://s3-us-west-2.amazonaws.com/piedpipr/images/logo.jpg');
	background-size: 102%;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0px 3px 12px -6px black;
}
#navs>div>ul{
	display: block;
	width: 408px;
	float: right;
	height: 72px;
}
#navs>div>ul>li{
	width: auto;
	margin-top: 18px;
	height: 36px;
	float: right;
	text-align: center;line-height: 36px;
	cursor: pointer;
	color: #D8E8E2;
	font-size: 13px;
	/*text-decoration: underline;*/
	background-color: #424242;
	box-shadow: 2px 0px 3px -3px black;

  -webkit-transition: color .2s, text-shadow .2s;
     -moz-transition: color .2s, text-shadow .2s;
      -ms-transition: color .2s, text-shadow .2s;
       -o-transition: color .2s, text-shadow .2s;
          transition: color .2s, text-shadow .2s;
}
#navs>div>ul>li:last-of-type{
	border-radius: 1px 0px 0px 1px;
}
#navs>div>ul>li:first-of-type{
	border-radius: 0px 1px 1px 0px;
	box-shadow: none;
}
#navs>div>ul>li>a{
	display: block;
	height: 100%;
	width: auto;
	color: #D8E8E2;
	text-decoration: none;

  -webkit-transition: color .2s, text-shadow .2s;
     -moz-transition: color .2s, text-shadow .2s;
      -ms-transition: color .2s, text-shadow .2s;
       -o-transition: color .2s, text-shadow .2s;
          transition: color .2s, text-shadow .2s;
}
.sixPaddingsOnSides{
	padding-left: 18px; padding-right: 18px;
}

.isCurrentPageOnNavs{
	color: #D3F095!important;
}
#navs>div>ul>li>a:hover, #navs>div>ul>li:hover{
	text-shadow: 0px 1px 3px black;
	color: #D3F095;
}
.sixPaddingsOnSides:active{
	outline: 1px dotted #EDF1F2;
}