

/*--------------------------404 page--------------------------*/

.notFound{
	position: relative;
	width: 600px;
	margin: 0 auto;
	margin-top: 120px;
}
.notFound>h1{
	font-size: 24px;
	text-align: center;
	margin-bottom: 36px;
}
.notFound>p{
	margin-bottom: 12px;
	font-size: 16px;
	text-align: center;
	margin-top: 12px;
}
.notFound>p:first-of-type{
	margin-top: 48px;
}
.notFound>a{
	display: block;
	font-size: 24px;
	text-decoration: none;
	position: relative;
	width: 72px;
	margin: 0 auto;
	margin-top: 24px;
	text-align: center;
	margin-bottom: 12px;
}
.notFound>a>img{
	height: 24px;
	margin-right: 3px;
}
.notFound>span{
	display: block;
	font-size: 13px;
	text-decoration: none;
	position: relative;
	width: 48px;
	margin: 0 auto;
	margin-top: 12px;
	cursor: pointer;
	text-align: center;
	color: #EDF1F2;
	margin-bottom: 48px;
}
.notFound>hr{
	border: none;
	width: 240px;
	position: relative; display: block;
	margin: 0 auto;
	height: 3px;
	background-color: #A6C75F;
	margin-top: 12px; margin-bottom: 12px;
}