.splashPage>h1{
	font-size: 24px;
	text-align: center;
	margin-top: 72px;
	margin-bottom: 48px;
	text-shadow: 0px 1px 3px #111111;
	color: #FAFAFA!important;
}
.splashPage>h1>img{
	width: 54px;
	position: relative;
	top: -12px;
	margin-bottom: 18px;
	display: inline-block;
	box-shadow: 0px 3px 12px -6px #111111;
}
.splashPage>div:first-of-type{
	width: 600px;
	height: 120px;
	position: relative;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 48px;
}
.splashPage>div:first-of-type>a{
	display: block;
	width: 240px;
	height: 60px;
	text-align: center; line-height: 60px;
	cursor: pointer;
	border: 2px solid #BABABA;
	text-align: center;
	color: #BABABA;
	font-size: 12px;
	float: left;
	margin-top: 12px;
	position: relative;
	box-shadow: 0px 3px 12px -6px #111111;
	border-radius: 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-transition: border .2s, color .2s;
	   -moz-transition: border .2s, color .2s;
	    -ms-transition: border .2s, color .2s;
	     -o-transition: border .2s, color .2s;
	        transition: border .2s, color .2s;
}
.splashPage>div:first-of-type>a:first-of-type{
	border: 2px solid #BAD67E; color: #BAD67E;
}
.splashPage>div:first-of-type>a:last-of-type:hover{
	color: #FAFAFA; border: 2px solid #FAFAFA;
}
.splashPage>div:first-of-type>a>span{
	position: absolute;
	height: 100%; width: 100%;
	z-index: 1;
	background-color: white;
	opacity: 0.1;
	left: 0; top: 0;
	border-radius: 1px;
	-webkit-transition: opacity .2s;
	   -moz-transition: opacity .2s;
	    -ms-transition: opacity .2s;
	     -o-transition: opacity .2s;
	        transition: opacity .2s;
}
.splashPage>div:first-of-type>a:first-of-type>span{
	background-color: #DDE8DC;
}
.splashPage>div:first-of-type>a:hover>span{
	opacity: 0.3;
}
.splashPage>div:first-of-type>a:first-of-type{
	margin-left: 42px;
}
.splashPage>div:first-of-type>hr{
	height: 42px;
	display: block;
	width: 1px;
	float: left;
	margin-left: 12px; margin-right: 12px;
	margin-top: 24px;
	border: none;
	background-color: #627369;
}
.splashPage>div:nth-of-type(2){
	position: fixed;
	z-index: -1;
	height: 100%; width: 100%;
	top: 0; left: 0;
	/*opacity: 0.6;*/
	background-color: #1F1E1B;
}
.splashPage>div:nth-of-type(2)>div{
	position: fixed;
	z-index: 0;
	height: 300%; width: 300%;
	top: -100%; left: -100%;
	opacity: 0.18;
	/*-webkit-transition: opacity 2.4s;
	   -moz-transition: opacity 2.4s;
	    -ms-transition: opacity 2.4s;
	     -o-transition: opacity 2.4s;
	        transition: opacity 2.4s;*/

	background-image: url('/images/bg.jpg');
	-webkit-background-size: 70%;
	-moz-background-size: 70%;
	-o-background-size: 70%;
	background-size: 70%;
	background-repeat: repeat;


}
.splashPage>div:nth-of-type(2)>div:first-child{
	background-position: center;


	-webkit-animation: backgroundSpin 48s linear infinite;
	-moz-animation: backgroundSpin 48s linear infinite;
	-ms-animation: backgroundSpin 48s linear infinite;
	-o-animation: backgroundSpin 48s linear infinite;
	animation: backgroundSpin 48s linear infinite;

	-webkit-animation-name: backgroundSpinReverse;
	-webkit-animation-duration: 36s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: forwards;
}
.splashPage>div:nth-of-type(2)>div:last-child{
	background-position: bottom right;
	animation-direction: alternate!important;
	-webkit-animation-direction: alternate!important;


	-webkit-animation: backgroundSpinReverse 36s linear infinite;
	-moz-animation: backgroundSpinReverse 36s linear infinite;
	-ms-animation: backgroundSpinReverse 36s linear infinite;
	-o-animation: backgroundSpinReverse 36s linear infinite;
	animation: backgroundSpinReverse 36s linear infinite;


	-webkit-animation-name: backgroundSpinReverse;
	-webkit-animation-duration: 36s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: forwards;

}
.splashPage>div:nth-of-type(2)>div:last-of-type{
	z-index: -1;
}
.splashPage>hr{
	width: 600px; height: 1px;
	position: relative;
	display: block;
	border: none;
	background-color: #627369;
}
.splashPage>h2{
	margin-top: 60px;
	text-align: center;
	font-size: 18px;
	color: #BAD67E;
	margin-bottom: 24px;
	font-style: italic;

}

p.centerOnSplashPage{
	width: 600px;
	position: relative;
	margin: 0 auto;
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 12px;
}

.splashPage>ul{
	width: 600px;
	position: relative;
	margin: 0 auto;
	margin-top: 12px; margin-bottom: 24px;
	list-style-type: disc;
}
.splashPage>ul>li{
	margin-left: 3em;
	color: #C7D1CB;
	font-size: 11px;
	line-height: 18px;
	padding-top: 3px;
	padding-bottom: 6px;
}






div.firstBg{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006e2e+0,004f1b+21 */
background: #006e2e; /* Old browsers */
background: -moz-linear-gradient(left,  #006e2e 0%, #004f1b 50%, #006e2e 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #006e2e 0%,#004f1b 50%, #006e2e 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #006e2e 0%,#004f1b 50%, #006e2e 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#004f1b',GradientType=0 ); /* IE6-9 */

}
div.secondBg{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007c16+9,004f1b+61 */
background: #004f20; /* Old browsers */
background: -moz-linear-gradient(left,  #065C29 9%, #004f1b 61%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #065C29 9%,#004f1b 61%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #065C29 9%,#004f1b 61%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#065C29', endColorstr='#004f1b',GradientType=1 ); /* IE6-9 */

}
div.thirdBg{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004f20+1,006e2e+47,004f1b+99 */
background: #004f20; /* Old browsers */
background: -moz-linear-gradient(left,  #004f20 24%, #07612C 50%, #004f20 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #004f20 24%,#07612C 50%, #004f20 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #004f20 24%,#07612C 50%, #004f20 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004f20', endColorstr='#004f1b',GradientType=0 ); /* IE6-9 */

}
div.fourthBg{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004f20+18,006e2e+59 */
background: #006e2e; /* Old browsers */
background: -moz-linear-gradient(left,  #004f20 61%, #006e2e 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #004f20 61%,#006e2e 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #004f20 61%,#006e2e 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004f20', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */

}






@-webkit-keyframes backgroundSpin {
	0% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	36% {
		-webkit-transform:rotate(150deg);
		transform:rotate(0deg);
	}
	100% {
		-webkit-transform:rotate(360deg);
		transform:rotate(0deg);
	}
}
@-moz-keyframes backgroundSpin {
	0% {
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	36% {
		-moz-transform:rotate(150deg);
		-webkit-transform:rotate(150deg);
		transform:rotate(150deg);
	}
	100% {
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@-ms-keyframes backgroundSpin {
	0% {
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	36% {
		-ms-transform:rotate(150deg);
		-webkit-transform:rotate(150deg);
		transform:rotate(150deg);
	}
	100% {
		-ms-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@-o-keyframes backgroundSpin {
	0% {
		-o-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	36% {
		-o-transform:rotate(150deg);
		-webkit-transform:rotate(150deg);
		transform:rotate(150deg);
	}
	100% {
		-o-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@keyframes backgroundSpin {
	0% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	36% {
		-webkit-transform:rotate(150deg);
		transform:rotate(150deg);
	}
	100% {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@-webkit-keyframes backgroundSpinReverse {
	0% {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
	36% {
		-webkit-transform:rotate(150deg);
		transform:rotate(150deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
}
@-moz-keyframes backgroundSpinReverse {
	0% {
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
	36% {
		-moz-transform:rotate(150deg);
		-webkit-transform:rotate(150deg);
		transform:rotate(150deg);
	}
	100% {
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
}
@-ms-keyframes backgroundSpinReverse {
	0% {
		-ms-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
	36% {
		-ms-transform:rotate(150deg);
		-webkit-transform:rotate(150deg);
		transform:rotate(150deg);
	}
	100% {
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
}
@-o-keyframes backgroundSpinReverse {
	0% {
		-o-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
	36% {
		-o-transform:rotate(150deg);
		-webkit-transform:rotate(150deg);
		transform:rotate(150deg);
	}
	100% {
		-o-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
}
@keyframes backgroundSpinReverse {
	0% {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
	36% {
		-webkit-transform:rotate(150deg);
		transform:rotate(150deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
}