<ion-view title="hosting" hide-nav-bar="false">

  <ion-content class="padding blue-backing">

    <p style="color: #C3E0EE; margin-top: 15px"> almost done! </p>

    <h3 style="color: white; margin-top: 20px"> What's the name of your playlist? </h3>

    <div class="row row-center">
      <div class="col-33"></div>
      <div class="col-33" style="text-align: center">

        <label style="margin-top: 30px; border-radius: 25px; border-width: 0px" class="item item-input">
          <input style="text-align: center" type="text" placeholder="e.g. westurnt playlist">
        </label>

      </div>
      <div class="col-33"></div>
    </div>

    <button ng-click="host()" class="button button-outline button-light" style="width:150px; margin-top: 30px; border-radius: 25px">
      let's turn up!
    </button>

  </ion-content>

</ion-view>
