<ion-view title="welcome" hide-nav-bar="false">

  <ion-content class="padding image-backing">

    <h1 class="roboto" style="color: #C3E0EE; margin-top: 40px; font-weight: 300"> Hello there! </h1>
    <p style="color: white; margin-top: 15px; line-height: 250%" class="padding roboto"> PiedPipr is a cloud-based business-facing disruptive public playlist sharing and generating platform. This unique cross-platform technology was created by integrating open data spaces, thus making the world a better place with the use of infatrodes. </p>

    <button ng-click="turnup()" class="button button-balanced" style="border-radius: 25px; border-width: 0px; width: 200px">
      Enter Pied Pipr
    </button>

  </ion-content>

</ion-view>
