<ion-view title="getting ready" hide-nav-bar="false">

  <ion-content class="padding green-backing">

    <p style="color: #C3E0EE; margin-top: 15px"> we'll get you set up </p>

    <h3 style="color: white; margin-top: 30px"> Who's the Pied Pipr? </h3>

    <button ng-click="host()" class="button button-outline button-light" style="margin-top: 30px; border-radius: 25px">
      I am the Pied Pipr (host a playlist)
    </button>
<br>
    <button ng-click="join()" class="button button-outline button-light" style="margin-top: 20px; border-radius: 25px">
      I have a Pied Pipr (join a playlist)
    </button>


  </ion-content>

</ion-view>
