<template name="helpPage">
	<h1>
		Having problems? Confused?
		<span>&ndash; It's quite simple, actually!</span>
	</h1>
	<p>Let's break it down:</p>
	<ul>
		<li class="toItem1Help">Creating a playlist</li>
		<li class="toItem2Help">Adding items, changing the order of or removing items from the playlist</li>
		<li class="toItem3Help">Inviting your friends to to add videos to your playlist from their devices</li>
		<li class="toItem4Help">How to join and add to a friend's playlist</li>
		<li class="toItem5Help">Revist recently viewed playlist</li>
		<li class="toItem6Help">Other</li>
	</ul>
	<div>
		<h2>Creating a playlist</h2>
		<p>Easy as pie!</p>
		<img src="https://s3-us-west-2.amazonaws.com/piedpipr/images/createPlayListHelpImg.png">
		<Br><Br><Br><Br>
		<ul>
			<li>1. Hit the 'Create playlist' button</li>
			<br><br><br>
			<li>2. Search for videos to add to your playlist</li>
			<br><br><br>
			<li>3. Press the '+' button to add then to your play list!</li>
		</ul>
	</div>
	<div>
		<h2>Modifying your playlist</h2>
		<p>The controls are in front of you</p>
		<img src="https://s3-us-west-2.amazonaws.com/piedpipr/images/modifyPlayListHelpImg.png">
		<ul>
			<li>1. <a href="" class="lightText toItem1Help">Create a playlist</a></li>
			<br><br><br>
			<li>2. Search and hit the '+' button to add tracks</li>
			<br><br><br>
			<li>3. Use the up or down arrows to move a video's position in the playlist</li>
			<br><br><br>
			<li>4. Press the 'X' on the top right corner of a track to remove it from the playlist</li>
		</ul>
	</div>
	<div>
		<h2>Inviting friends to recommend/update your playlist</h2>
		<p>Just share the link! &mdash; you will have the option to individually approve each video addition, or you can just set it to auto approve every addition</p>
		<img src="https://s3-us-west-2.amazonaws.com/piedpipr/images/sharePlayListHelpImg.png" style="max-width:100%;min-width:100%;">
	</div>
	<div>
		<h2>Joining and contributing to a friend's playlist</h2>
		<p>Simply visit the link for the playlist your friend made, search the tracks you want to add, and hit the + button!</p>
		<img src="https://s3-us-west-2.amazonaws.com/piedpipr/images/sharePlayListHelpImg.png" style="max-width:100%;min-width:100%;">
	</div>
	<div>
		<h2>How to revist recently viewed tracks on this device</h2>
		<img src="https://s3-us-west-2.amazonaws.com/piedpipr/images/viewHistoryHelpImg.png">
		<br>
		<p style="width:60%;float:left;">Once you have viewed a few tracks on this device, there will be a 'History' button in the navigation bar. You'll be able to view the 7 most recent playlists you've visited, and have the option of clearing the history.</p>
	</div>
	<div>
		<h2>Have issues/questions?</h2>
		<p>Visit the <a href="https://github.com/shividhar/piedpipr" target="_blank" rel="nofollow" class="lightText">github</a> for this repo and make a 'New Issue'</p>
	</div>
</template>