<template name="mobilePlaylistPage">
	<div id="MshareCodeOverflow">
		<span>Close</span>
		<h2>Share playlist</h2>
		<p>Code:</p>
		<input type="placeholder" value="{{thisPlaylistId}}">
		<p>Qr Code:</p>
		<img src="">
	</div>
	<div id="MsearchPanel">
        <div id="MsearchArea">
            <input type="text" name="searchQueryInput" placeholder="Search YouTube for a video to add..." tabindex="1">
            <span>x</span>
            <img src="https://s3-us-west-2.amazonaws.com/piedpipr/images/searchIco.png">
        </div>
        <div id="MsearchResults">
            {{#if searchQLen}}
                {{#if searchResults}}
                    {{#each searchResults}}
                        {{> musyncSearchResultItem}}
                    {{/each}}
                {{else}}
                    <p>No results</p>
                {{/if}}
            {{else}}
                {{#if dataApiReady}}
                    <p>...</p> 
                {{else}}
                    <p>Preparing searcher...</p>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div id="MplaylistPanel">
        <div id="MnowPlaying">
            <h2>
            	<p><a href="/mobile">&lt; Home |</a> {{thisPlaylistName}}</p>
            	<span>
            		<a id="MloopThisShit">Loop</a> 
                    <a id="MshuffleThisShit">Shuffle</a> 
                    <a class="MdarkerOptions" id="MopenPlaylistSharingModal">Get code to share</a>
            		{{#if thisIsAuthor}} <a class="MdarkerOptions" id="MenableAutoAcceptingTrackRecomms">Auto accept track recommendations</a>{{/if}}
            	</span>
            </h2>
            <div id="Mplayer"></div>
        </div>
        <div id="MplayerControls">
            <a>Previous</a>
            <p>Add track</p>
            <a>Next</a>
        </div>
        <div id="MplayList">
            {{#each songList}}
                {{> musyncSongListItem}}
            {{/each}}
        </div>
    </div>
</template>