<template name="musyncPlaylist">
    <div id="searchPanel">
        <div id="searchArea">
            <input type="text" name="searchQueryInput" placeholder="Search YouTube for a video to add...">
            <img src="/images/searchIco.png">
        </div>
        <div id="searchResults">
            {{#if searchResults}}
                {{#each searchResults}}
                    {{> musyncSearchResultItem}}
                {{/each}}
            {{else}}
                {{#if searchQLen}}
                    <p>No results</p>
                {{else}}
                    <p>...</p>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div id="playlistPanel">
        <div id="nowPlaying">
            <h2>Now playing</h2>
            <div id="player"></div>
        </div>
        <div id="controls">
            <a>Back</a>
            <p>Coming up</p>
            <a>Forward</a>
        </div>
        <div id="playList">
            {{#each songList}}
                {{> musyncSongListItem}}
            {{/each}}
        </div>
    </div>
</template>