<template name="musyncSongListItem">
{{#with apiCall}}
    <div class="songlistButton {{isCurrentVideoItem}}" value="{{videoId}}">
        <div style="background-image:url('{{songThumb}}');"></div>
        <p>
            {{songName}}
            <br>
            &ndash; <span>{{songAuthor}}</span>
        </p>
        {{#if currentUserIsAuthor}}
            <div>
                <a class="songlistMoveUp">&#x25B2; <span>move up</span></a>
                <a class="songlistMoveDown">&#x25BC; <span>move down</span></a>
                <a class="songlistRemove" title="remove"><img src="https://s3-us-west-2.amazonaws.com/piedpipr/images/closeIco.png" ></a>
            </div>
        {{/if}}
    </div>
{{/with}}
</template>