<template name="musyncPlaylist">
    <table border="0">
        <tbody>
            <tr>
                <td style='width:200px; vertical-align: top'>
                    {{#each songList}}
                        {{> musyncSongListItem}}
                    {{/each}}
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td style="width: 50%; vertical-align: top">
                                    <input type="text" name="searchField" id="searchField" value="" />
                                    <input type="button" name="searchButton" id="searchButton" value="Search" />
                                    <p id='searchError'></p>
                                    <div id="videoResultTable">
                                        {{#each searchResults}}
                                            {{> musyncSearchResultItem}}
                                        {{/each}}
                                    </div>
                                </td>
                                <td style="width: 50%; vertical-align: top">
                                    <div id="player"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</template>