<template name="musyncSongListItem">
{{#with apiCall}}
    <div class="songlistButton" value="{{ videoId }}">
        <p class="songlistButton" value="{{ videoId }}">{{ songName }}</p>
        <p class="songlistButton" value="{{ videoId }}">{{ songAuthor }}</p>
        <img class="songlistButton" value="{{ videoId }}" src="{{ songThumb }}">
        <table>
            <tbody>
                <tr>
                    <td>
                        <svg class="songlistMoveUp" vid="{{ videoId }}" pid="{{ songOriginPlaylist }}" pos="{{ songPosition }}" width="25" height="25">
                            <polygon points="10,25 10,12.5 5,12.5 12.5,0 20,12.5 15,12.5 15,25"></polygon>
                        </svg>
                    </td>
                    <td>
                        <svg class="songlistMoveDown" vid="{{ videoId }}" pid="{{ songOriginPlaylist }}" pos="{{ songPosition }}" width="25" height="25">
                            <polygon points="10,0 10,12.5 5,12.5 12.5,25 20,12.5 15,12.5 15,0"></polygon>
                        </svg>
                    </td>
                    <td>
                        <svg class="songlistRemove" vid="{{ videoId }}" pid="{{ songOriginPlaylist }}" pos="{{ songPosition }}" width="25" height="25">
                            <line x1="0" y1="0" x2="25" y2="25" style="stroke: rgb(0,0,0); stroke-width:5"></line>
                            <line x1="0" y1="25" x2="25" y2="0" style="stroke: rgb(0,0,0); stroke-width:5"></line>
                        </svg>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{{/with}}
</template>