<template name="musyncPlaylist">
    <div id="searchPanel">
        <div id="searchArea">
            <input type="text" name="searchQueryInput" placeholder="Search YouTube for a video to add..." tabindex="1">
            <img src="https://s3-us-west-2.amazonaws.com/piedpipr/images/searchIco.png">
        </div>
        <div id="searchResults">
            {{#if searchQLen}}
                {{#if searchResults}}
                    {{#each searchResults}}
                        {{> musyncSearchResultItem}}
                    {{/each}}
                {{else}}
                    <p>No results</p>
                {{/if}}
            {{else}}
                {{#if dataApiReady}}
                    <p>...</p> 
                {{else}}
                    <p>Preparing searcher...</p>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div id="playlistPanel">
        <div id="nowPlaying" class="songReadyShowThis">
            <h2>Now playing <span><a class="isBolded" id="loopThisShit">Loop</a> &bull; <a id="shuffleThisShit">Shuffle</a></span></h2>
            <div id="player"></div>
        </div>
        <div id="playerControls" class="songReadyShowThis">
            <a>Previous</a>
            <p>Coming up</p>
            <a>Next</a>
        </div>
        <div id="playList" class="songReadyShowThis">
            {{#each songList}}
                {{> musyncSongListItem}}
            {{/each}}
        </div>
        <h2 class="songNotReadyShowThis">Search and Add a Video!</h2>
    </div>
</template>