<template name="navs">
	{{#if shouldPushDown}}
		{{#each navAlerts}}
			{{>navAlertTemplate}}
		{{/each}}
	{{/if}}
	<div id="navs" class="{{shouldPushDown}}">
		<div>
			<a href="/"></a>
			<ul>
				<li id="createPlaylist"  class="sixPaddingsOnSides">Create playlist</li>
				<li><a href="/help"  class="sixPaddingsOnSides">Help</a></li>
				{{#if thisUser}}
					<li id="toHistoryModal" class="sixPaddingsOnSides">History</li>
				{{else}}
					<li><a href="/app"  class="sixPaddingsOnSides">App</a></li>
				{{/if}}
			</ul>
		</div>
	</div>
</template>