<template name="splashPage">
    <h1 class="lightText"><img src="/images/logo.jpg"><br>Welcome.</h1>
    <div><a id="createPlaylistSplashpage">Create a playlist<span></span></a> <hr> <a href="https://github.com/shividhar/piedpipr" target="_blank" rel="nofollow" >Fork PiedPipr on GitHub<span></span></a></div>
    <hr>
    <h2>What is PiedPipr?</h2>
    <p class="lightText centerOnSplashPage">
        "PiedPipr is a cloud-based business-facing disruptive public playlist sharing and generating platform. This unique cross-platform technology was created by integrating open data spaces, thus making the world a better place with the use of infatrodes."
        <img src="/images/cloudMusicIco.png" align="right" style="margin-left:60px;margin-top:48px;border-radius:100%;box-shadow:0px 3px 9px -6px #111111;">
        <Br><Br>
        <b style="font-size:14px;">Key features include:</b></p>
    <ul>
        <li>Generating Youtube playlists on the fly</li>
        <li>Letting other users request music in your playlist through the sharing of a simple link</li>
        <li>Making the world a better place</li>
        <li>Infatrodes</li>
    </ul>
    <p class="lightText centerOnSplashPage">Hit 'create a playlist' above to get started! Have more questions? Visit the help page!</p>
    <br><br><br>
    <div>
        <div class="firstBg"></div>
        <div class="secondBg"></div>
    </div>
</template>