<template name="teamPage">
    <h1 class="lightText"><br>The Team</h1>
    <h2>What's up!?</h2>
    <br><br>
<table class="demo">
    <tbody>
        <tr>
            <td>
                <img style="background-image:url('https://scontent-lga3-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/1400626_661211007243471_1688637510_o.jpg');" />
            </td>
            <td>
                <img style="background-image:url('https://media.licdn.com/media/AAEAAQAAAAAAAAJNAAAAJGEwZWUyYTQ3LWQwMjctNDM4Yi05MTNhLTYxYmMwNGM0MjJhYw.jpg');" />
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    Shivansh Dhar
                </h3>
            </td>

            <td>
                <h3>
                    Jay Patel

                </h3>
            </td>
        </tr>
        <tr>
            <td style="width:100%;">
                <img style="background-image:url('https://media.licdn.com/media/AAEAAQAAAAAAAAMMAAAAJGEzOWU0YjY1LTlmYTgtNDI5Yi05MDg5LWJhODUyMGZlYmFiMQ.jpg');" />
            </td>
        </tr>
        <tr>
            <td style="width:100%;">
                <h3>
                    Arun Kirubarajan
                </h3>
            </td>
        </tr>
    </tbody>
</table>
</template>